<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
</head>
<body>
  <h2 class="cs-text" id="cs-text">Tasky</h2>

 	<div class="row">

		<div class="eight columns">

			<%= yield %>

		</div>


	<div class="four columns">
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
		  <p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
	</div>	

	</div>

	<div class="row">
      <h4>Footer Placeholder</h4>

	</div>
</body>
</html>
