<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
</head>
<body>
  <h2 class="cs-text" id="cs-text">Tasky</h2>

 	<div class="row">

		<div class="eight columns">

			<%= yield %>

		</div>


	<div class="four columns">
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
		  
		  <% if flash[:notice] %>
		  	<div class="alert-box">
		  		<p class="notice"><%= notice %></p>
	     	</div>
		  <% end %>

		  <% if flash[:alert] %>
				<div class="alert-box alert">
					<p class="alert"><%= alert %></p>
				</div>
			<% end %>

	</div>	

	</div>

	<div class="row">
      <h4>Footer Placeholder</h4>
<%= debug(flash)%>
	</div>
</body>
</html>
